\..*
example/build
*.lock
*.
*.
.flutter-plugins
.packages
ios/.symlinks
ios/Runner.xcworkspace/xcshareddata
ios/Runner.xcworkspace/xcuserdata
ios/Runner
ios/Flutter
ios/Pods
android/build
android/.gradle